<div class="header23">
    <H4>Gouvis Engineering</H4>
    <div class="seachBar" [class.mat-elevation-z2]="true">
        <mat-form-field class="SearchMe mat-display-1">
            <input matInput placeholder="Search Details"  [(ngModel)]="value" (focus)="searchFocusFunction()" (focusout)="searchUnFocusFunction()">  
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)= clearInput()>
                <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

    </div>
    <div class= "block1">
        <div *ngIf="isProcessing" class= "spinner1">
                <mat-spinner></mat-spinner>
        </div>
        
        <div *ngIf="!isProcessing" class = "table-container" id="tableCroll" >
            <table mat-table [dataSource] ="dataSource" matSort>

                <ng-container matColumnDef="ID">
                  <td mat-header-cell *matHeaderCellDef>File Name</td>
                  <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
                </ng-container> 

                <ng-container matColumnDef="description">
                  <td mat-header-cell *matHeaderCellDef>Description</td>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                    [ngClass]="{highlight: currentChoice.fileName == row.fileName}" 
                    (click)="getRecord(row.fileName); highlight()" 
                >  </tr>
            </table>
        </div>

        <div class="ImageDetails">
                <ngx-image-viewer
                [src]="images"
                [config] = "{
                    zoomFactor: 0.1,
                    containerBackgroundColor: '#fff',
                    wheelZoom: true,
                    allowFullscreen: false,
                    allowKeyboardNavigation: true,
                    btnShow: {
                        zoomIn: false,
                        zoomOut: false,
                        rotateClockwise: false,
                        rotateCounterClockwise: false,
                        next: false,
                        prev: false
                    }
                }"
                ></ngx-image-viewer>
        </div>
    </div>
    <div class="buttonClick">
            <button mat-raised-button color="primary" ngxClipboard [cbContent]= "currentChoice.command" (click)="updateDatabase(value)">Copy to Clipboard</button>
    </div>
    
    <div  class = "description"  [class.mat-elevation-z2]="true">
            <p id="textdesc" >FILE NAME: {{currentChoice.cadName}}</p>
            <p id="textdesc">DESCRIPTION: {{currentChoice.description}}</p>
            <p id="textdesc">{{currentChoice.link}}</p>
    </div>
    <!--
    <div class="addToAutoCAD">
        <button mat-raised-button color="primary">ADD TO AUTOCAD</button>
    </div>
    -->
</div>


